@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.card-event-container {
    width: calc(var(--max-content-width)/4);
    height: 350px;
}

img {
    width: 100%;
}